<h1>Offers#index</h1>

<%== pagy_nav(@pagy) %>

<table>
    <thead>
    <tr>
      <th>Company</th>
      <th>Offer Link</th>
      <th>City</th>
      <th>Required Skills</th>
    </tr>
    </thead>
    <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><b><%= offer.company_name %></b></td>
          <td><%= link_to "#{offer.title}", "#{offer.offer_url}" %></td>
          <td><%= offer.city %></td>
          <td><%= offer.skills %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


